*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(231, 230, 230, 0.473);
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}